#main-buttons
  %button.btn.btn-primary#open-window-button{ 'data-loading-text' => "Opening player ...",  'data-playeropened-text' => 'Close Player Window', :autocomplete => 'off'}
    Open Player Window
#playing-playlist
  %p
    Loading...
