= paginate search.hits, theme: 'twitter-bootstrap', pagination_class: 'pagination-small pagination-centered'
.hits
  = render(:partial => 'home/hit', :collection => search.hits, :as => :hit, :locals => { :search => search } )
%footer{ :class => 'sr-pagination' }
  = paginate search.hits, theme: 'twitter-bootstrap', pagination_class: 'pagination-small pagination-centered'

  