#app {
  margin-top: 60px; }
  #app .remember {
    margin-bottom: 0.5em;
    overflow: auto; }
    #app .remember input[type="checkbox"] {
      float: left;
      margin-right: 0.5em; }
    #app .remember label {
      line-height: 28px;
      vertical-align: middle; }
  #app .submit {
    margin-bottom: 1em;
    margin-top: 1em; }
  #app .links a {
    text-decoration: none; }

#left-side {
  background-color: #ffe; }
  #left-side .left-content {
    padding: 1em;
    border: 1px dotted #ccc; }
