.hit-aside {
  background-color: #eef;
  padding: 0.5em;
  border: 1px solid #aaf;
  border-radius: 8px; }
  .hit-aside .elem-image {
    text-align: center;
    margin-bottom: 0.5em; }
  .hit-aside .elem-data .name {
    text-align: center;
    border: 3px solid #ddd;
    border-radius: 8px;
    color: #ddd;
    background-color: #555;
    padding: 0.4em; }
    .hit-aside .elem-data .name a {
      color: #ddd;
      font-weight: bold;
      font-size: 120%; }
  .hit-aside .elem-content .artists {
    text-align: center;
    text-transform: uppercase; }
    .hit-aside .elem-content .artists a {
      margin: 0.2em;
      color: #888; }
  .hit-aside img.tbl {
    height: 32px; }
  .hit-aside h4 {
    font-size: 110%;
    text-align: center;
    font-weight: bold;
    font-style: italic; }
  .hit-aside h3 {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #ddd;
    background-color: #555; }
  .hit-aside h6 {
    text-align: center; }
  .hit-aside td img {
    width: 42px; }
  .hit-aside .Artist .elem-data .name {
    font-size: 130%;
    font-weight: bold; }
  .hit-aside .Artist .hit-cont ul {
    column-count: 3;
    overflow: auto; }
    .hit-aside .Artist .hit-cont ul li:nth-child(2n+1) {
      float: left;
      width: 50%; }
  .hit-aside .Artist li {
    padding-top: 0.3em;
    min-height: 32px;
    overflow: auto;
    margin-right: 1em; }
    .hit-aside .Artist li:hover {
      background-color: #fefefe; }
    .hit-aside .Artist li .image {
      float: left;
      margin-right: 0.5em; }
      .hit-aside .Artist li .image img {
        height: 32px; }
