.listnode-sortable-placholder {
  background: orange; }

#liel ul.cont {
  padding: 1em;
  border: 1px solid purple;
  margin: 1em; }
#liel li.cont-elem {
  padding: 1em;
  border: 1px solid green;
  margin: 1em; }
