.sidebar h5 {
  text-align: center;
  margin-bottom: 0.5em;
  background-color: #ddd;
  padding: 0.2em; }
.sidebar aside {
  margin-bottom: 1em; }
.sidebar aside.albums {
  height: 300px;
  border: 1px solid #eee; }
.sidebar aside.artists {
  height: 300px;
  border: 1px solid #eee; }
.sidebar li {
  line-height: 14px; }
.sidebar p {
  margin: 0 0 3px; }

header.search {
  background-color: #eaeaea;
  padding: 2em;
  margin-bottom: 1em;
  margin-top: -20px; }
  header.search form {
    margin-bottom: 0px;
    text-align: center; }
  header.search .btn-group {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em; }
  header.search input[type="search"] {
    width: 50%; }

#search-options input {
  display: none; }

.sr-hits .row-fluid [class*="span"] {
  min-height: 12px; }
.sr-hits .hit-row {
  padding: 0.5em; }
  .sr-hits .hit-row:hover {
    background-color: #eee; }
  .sr-hits .hit-row .score {
    text-align: right;
    display: inline-block; }
  .sr-hits .hit-row .hit-score {
    text-align: right;
    float: right;
    margin-left: 1em;
    color: #88d; }
  .sr-hits .hit-row.Artist li {
    padding-top: 0.3em;
    overflow: auto; }
    .sr-hits .hit-row.Artist li .image {
      float: left;
      margin-right: 1em; }
      .sr-hits .hit-row.Artist li .image img {
        height: 32px; }
  .sr-hits .hit-row.Album .image {
    float: left;
    margin-right: 1em; }
    .sr-hits .hit-row.Album .image img {
      height: 75px; }
  .sr-hits .hit-row.AudioFile .image {
    float: left;
    margin-right: 1em; }
    .sr-hits .hit-row.AudioFile .image img {
      height: 24px; }
  .sr-hits .hit-row.AudioFile .song {
    font-weight: bold; }
  .sr-hits .hit-row.AudioFile .duration {
    float: right; }
